/*Reset basico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    background-color: #1a1a2e;
    color: #ffffff; 
    font-family: 'Arial', sans-serif;
    }       
    h1 {
        color: #00d4ff;
        font-size: 48px;
        text-align: center;
    }

    p {
        color:#cccccc;
        font-size: 18px;    
        text-align:center; 
    }















































